.App {
  height: 100%;
}

.App > .About,
.App > .Content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition-property: transform;
  transition-duration: var(--transition-duration-about);
}

.App > .toggle {
  position: absolute;
  top: 0;
  right: 0;
  height: 3rem;
  width: 3rem;
  font-size: var(--font-size-toggle);
  text-align: center;
  cursor: pointer;
}
