/* Variables */
:root {
  --width-max: 650px;

  --font-size-prompt: 3rem;
  --font-size-toggle: 2rem;
  --font-size-about-title: 2.2rem;
  --font-size-about-text: 1.2rem;

  --color-foreground: black;
  --color-background: white;

  --transition-duration-about: 1s;
}

/* Base */
html,
body,
#root {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-foreground);
  background-color: var(--color-background);
}
